<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom @@classes">        
        <div class="container position-relative">
            <div class="py-2">
                <ul class="d-flex list-unstyled px-3 mr-lg-4">
                    <li class="mr-2 mr-4">
                        <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light" href="@@path/index.html">
                            <img class="navbar-brand-dark" src="@@path/assets/img/brand/M.svg" alt="Logo light">
                            <img class="navbar-brand-light" src="@@path/assets/img/brand/M.svg" alt="Logo dark">
                        </a>    
                    </li>
                    <li class="mr-2">
                        <a href="mailto:matt.bull.dev@gmail.com" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="email link"
                        data-toggle="tooltip" data-placement="top" title="Email me">
                            <span aria-hidden="true" class="fas fa-at"></span>
                        </a>
                    </li>
                    <li class="mr-2">
                        <a href="https://www.linkedin.com/in/mattjbull/" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="linked in link"
                        data-toggle="tooltip" data-placement="top" title="Connect on LinkedIn">
                            <span aria-hidden="true" class="fab fa-linkedin-in"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>